
h1 {
  color: #fe218b;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background-image: linear-gradient(to top, #f8f8f8, #e5f6ff, #b4fbff, #82fffe, #84ffc9);
  
}
h2 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;
  background: linear-gradient(90, #fed700, #21b0fe);
  
}
h3 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif; 
  background: linear-gradient(90, #fed700, #21b0fe);
}
h4 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;   
  background: linear-gradient(90, #fed700, #21b0fe);
}
h5 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;  
  background: linear-gradient(90, #fed700, #21b0fe);
}
h6 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;
  background: linear-gradient(90, #fed700, #21b0fe); 
}
p {
  color: #4C0334;
  text-align: center;
  font-family: "Courier New", Times, serif;
  font-size: 12px;
  background: linear-gradient(90, #fed700, #21b0fe);
}

body {
  background-image: linear-gradient(to bottom, #f8f8f8, #ede5ff, #e8d0ff, #e8b9ff, #eca0ff);
}
