h1 {
color: black;
text-align: center;
font-family: "Garamond", serif;
font-size: 40px;
background-color:CornflowerBlue;
}
p {
color: black;
text-align: center;
font-family: "Courier New", Times, serif;
background-color: Gainsboro;
}

body {
  background-color: Gainsboro;
}
